*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    height: 98vh;
    width: 100%;
    background-image:  url('sugarman-joe-ytpmVXObACc-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;

}

.content{
    color: #030103f3;
    text-align: center;
    width: 70%;
}
.content h3{
    font-size: 28px;
    color: rgba(38, 38, 136, 0.829);
    text-transform: uppercase;
}
.content p{
    font-size: 20px;
    margin: 15px 0;
}

.content button{
    background-color: #04aa6d;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
}
.content button:hover{
    background-color: rgba(0, 0, 0, 0.61);
    transition: 0.3s ease-in;
}




